.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav .logo {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 30px;
  text-decoration: none;
  font-size: 30px;
  font-family: "Century Gothic";
  src: url("/CenturyGothic.ttf") format("truetype");
  line-height: 0;
}

.topnav .logo a {
  color: #f2f2f2;
  text-decoration: none;
}

.content {
  font-family: "Roboto", sans-serif;
  padding: 1em;
  margin: auto;
}

@media (min-width: 1200px) {
  .content {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  .content {
    width: 970px;
  }
}
@media (min-width: 768px) {
  .content {
    width: 750px;
  }
}

.fit {
  width: 100%;
}

strong {
  font-family: "Century Gothic";
}

h1 {
  font-family: "Century Gothic";
  margin-bottom: 50px;
}

h3 {
  margin-top: 50px;
}

.content p {
  line-height: 30px;
}

li {
  line-height: 30px;
}
